<div class="form-min-height m-3 bg-white">
  <div class="row p-1 bg-gold">
    <div class="col-md-6">
      <span class="font-400 font-banner" style="line-height: 35px;">Account</span>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-cancel" routerLink="/accounts">
        <mat-icon class="white-icon">clear</mat-icon>&nbsp;Cancel
      </button>
      <button class="btn btn-save" (click)="save()" [disabled]='!form.valid'>
        <mat-icon class="white-icon">save_alt</mat-icon>&nbsp;Save Account
      </button>
    </div>
  </div>

  <div [ngClass]="['pt-1','pr-5','pl-5']">

    <div class="row pt-3">
      <div class="col-md-12 mt-3 mb-3">
        <p style="font-weight: bold; font-size: 14px;">Lead Info</p>
        <hr>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Lead ID</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="leadIdCtrl">
          <button mat-button matSuffix mat-icon-button  (click)="selectLead()">
            <mat-icon>search</mat-icon>
          </button>
          <mat-error *ngIf="leadIdCtrl.hasError('required')">
            Lead ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Lead Status</mat-label>
          <mat-select [formControl]="leadStatusCtrl">
            <mat-option *ngFor="let leadStatus of leadStatuses" [value]="leadStatus.val">{{leadStatus.val}}</mat-option>
          </mat-select>
          <mat-error *ngIf="leadStatusCtrl.hasError('required')">
            Lead Status ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Requested Amount</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="requestedAmountCtrl">
          <mat-error *ngIf="requestedAmountCtrl.hasError('required')">
            Requested Amount is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="selectedLead?.product?.type === productType.LOAN">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tenure(in months)</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="tenureCtrl">
          <mat-error *ngIf="tenureCtrl.hasError('required')">
            Tenure(in months) is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="selectedLead?.product?.type === productType.SENDOI">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Monthly Interest</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="monthlyInterestCtrl">
          <mat-error *ngIf="monthlyInterestCtrl.hasError('required')">
            Monthly Interest is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="selectedLead?.product?.type === productType.LOAN">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>EMI</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="emiCtrl">
          <mat-error *ngIf="emiCtrl.hasError('required')">
            EMI is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <p style="font-weight: bold; font-size: 14px;">Customer Info</p>
        <hr>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Customer ID</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="customerIdCtrl">
          <mat-error *ngIf="customerIdCtrl.hasError('required')">
            Customer ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Customer Name</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="customerNameCtrl">
          <mat-error *ngIf="customerNameCtrl.hasError('required')">
            Customer is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Gender</mat-label>
          <mat-select [formControl]="genderCtrl">
            <mat-option *ngFor="let gender of genders" [value]="gender.val">{{gender.val}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Mobile Number</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="mobileNoCtrl">
          <mat-error *ngIf="mobileNoCtrl.hasError('required')">
            Mobile Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12 mt-3 mb-3">
        <p style="font-weight: bold; font-size: 14px;">Product Info</p>
        <hr>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Product Name</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="productNameCtrl">
          <mat-error *ngIf="productNameCtrl.hasError('required')">
            Product Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Interest % </mat-label>
          <input type="number" matInput placeholder="Placeholder" [formControl]="interestCtrl">
          <mat-error *ngIf="interestCtrl.hasError('required')">
            Interest is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Frequency</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="frequencyCtrl">
          <mat-error *ngIf="frequencyCtrl.hasError('required')">
            Frequency is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-label>Secured Product?</mat-label><br><br>
        <mat-radio-group [(ngModel)]="securedProduct" disabled>
          <mat-radio-button *ngFor="let option of yesNo" [value]="option.val">
            {{option.key}}&nbsp;&nbsp;&nbsp;&nbsp;
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-12 mt-3 mb-3">
        <p style="font-weight: bold; font-size: 14px;">Account Info</p>
        <hr>
      </div>

      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Loan Account No.</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="accountNoCtrl">
          <mat-error *ngIf="accountNoCtrl.hasError('required')">
            Loan Account No. is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Repayment Date</mat-label>
          <input matInput [matDatepicker]="repaymentDatePicker" placeholder="Repayment Date" [formControl]="repaymentDateCtrl">
          <mat-datepicker-toggle matSuffix [for]="repaymentDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #repaymentDatePicker startView="year" [startAt]="repaymentStartDate"></mat-datepicker>
          <mat-error *ngIf="repaymentDateCtrl.hasError('required')">
            Repayment Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Closing Balance</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="closingBalanceCtrl">
          <mat-error *ngIf="closingBalanceCtrl.hasError('required')">
            Closing Balance is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select [formControl]="statusCtrl">
            <mat-option *ngFor="let accountStatus of accountStatuses" [value]="accountStatus.val">{{accountStatus.val}}</mat-option>
          </mat-select>
          <mat-error *ngIf="statusCtrl.hasError('required')">
            Status ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>